.about {
  margin: 0;
  padding: 40px 0;
}

.about__image {
  display: block;
  margin: 0 auto;
}

.about__title {
  @include section-title();
}

.about__subtitle {
  @include section-subtitle();
}

.about__text {
  @include section-text();
}

@media (min-width: $tabletwidth) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about__title {
    width: 100%;
  }

  .about__subtitle {
    width: 100%;
  }

  .about__image {
    order: 1;
    width: 47%;
  }

  .about__wrapper {
    order: 0;
    width: 100%;
  }
}


@media (min-width: $desktopwidth) {
  .about__image {
    order: 0;
    width: 47%;
  }

  .about__wrapper {
    order: 1;
    width: 47%;
  }
}
