.action {
  margin: 0;
  padding: 24px;
  background-color: $basecolor;
  color: $basewhite;
  box-shadow: 0 23px 32px 0 rgba(81, 8, 86, 0.33);
  border-radius: 10px;
}

.action__about {
  font-size: 13px;
  line-height: 24px;
  font-style: italic;
}

.action__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.action__button {
  margin-top: 40px;
}

@media (min-width: $tabletwidth) {
  .action {
    @include fix-IE-bug(100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
  }

  .action__button {
    width: 30%;
    margin-top: 0;
  }

  .action__wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktopwidth) {
  .action__button {
    width: 47%;
    margin-top: 0;
  }

  .action__wrapper {
    width: 47%;
    flex-direction: column;
  }
}
