.btn {
  display: block;
  padding: 17px 10px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  word-wrap: break-word;
  border: none;
  border-radius: 30px;
}

.btn--primary {
  background-color: $basered;
  color: $basewhite;

  &:hover {
    background-color: darken($basered, $darkpercent);
    background-image: linear-gradient(to bottom, $basered 0%, darken($basered, $darkpercent * 2) 100%);
  }

  &:focus {
    background-color: darken($basered, $darkpercent);
    background-image: linear-gradient(45deg, $basered 0%, darken($basered, $darkpercent * 3) 100%);
  }
}
