@media (min-width: $tabletwidth) {
  .dashes {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -30px;
      right: 0;
      left: 0;
      z-index: 5;
      width: 13px;
      height: 100px;
      margin: 0 auto;
      background-image: url("../img/dashes.svg");
      background-size: 13px 100px;
      background-repeat: no-repeat;
    }
  }
}
