.field {
  display: flex;
  margin: 15px 0;
  padding: 10px 10px;
  font-family: $opensans;
  font-size: 16px;
  line-height: 25px;
}

.field__label {
  display: none;
}

.field__input {
  width: 100%;
  font: inherit;


  &:hover,
  &:focus {

    outline: none;
    box-shadow: none;
  }

  &:invalid {
    border: 1px solid $basered;
    color: $basered;
    outline: none;
  }
}
