.footer {
  background-color: $basecolor;
  color: $basewhite;
  font-size: 13px;
  text-align: center;
}

.footer__designer {
  display: none;
}

.footer__link {
  font-size: 13px;
  color: $basewhite;
  text-decoration: none;

  &:hover,
  &:focus {
    color: red;
  }
}

.footer__link--underlined {
  text-decoration: underline;
}

@media (min-width: $tabletwidth) {
  .footer__copyright {
    order: -1;
  }

  .footer__layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktopwidth) {
  .footer__designer {
    display: block;
  }
}
