.form {
  padding: 20px 0;
}

.form--dark {
  padding: 45px 25px;
  color: $basewhite;
  background-color: $basecolor;
  border-radius: 10px;
  box-shadow: 0 23px 32px 0 rgba(81, 8, 86, 0.33);
}

.form__button {
  width: 100%;
}

@media (min-width: $tabletwidth) {
  .form--dark {
    background-image: linear-gradient(-90deg, #a044ff 0%, #6a3093 100%);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

// @media (min-width: $desktopwidth) {
// }
