.header {
  margin: 0;
  padding: 10px 14px 49px;
  display: flex;
  flex-wrap: wrap;
  background-color: $basecolor;
  color: $basewhite;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}

.header__links {
  display: none;
}

.header__logo {
  display: block;
  margin-top: 14px;
}

.header__content {
  padding-top: 300px;
  background-repeat: no-repeat;
  width: 100%;
}

.header__toggle {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-top: 14px;
  position: relative;
  cursor: pointer;
  display: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__navigation--opened .header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $basewhite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__navigation--closed .header__toggle {
  width: 24px;
  background-image: repeating-linear-gradient(to bottom, $basewhite 0, $basewhite 2px, transparent 2px, transparent 6px);
  background-size: 25px 16px;
  background-position: center 1px;
}

.header__link {
  color: $basewhite;
  text-decoration: none;
  display: inline-block;
  padding: 11px 12px;
}

@media (max-width: $mobilewidthonly) {
  .header__content {
    background-image: url("../img/header-mobile@1x.png");
    background-size: 309px 288px;
  }
}

@media (max-width: $nondesktopwidth) {
  .header__toggle {
    display: block;
    margin-left: auto;
  }

  .header__navigation--closed .header__menu {
    display: none;
  }

  .header__navigation--opened .header__menu {
    display: flex;
  }

  .header__navigation--nojs .header__menu {
    display: flex;
  }

  .header__navigation--nojs + .header__wrapper > .header__toggle {
    display: none;
  }
}

@media (min-width: $mobilewidthonly) and (min-resolution: $retinadpi), (min-width: $mobilewidthonly) and (min-resolution: $retinadppx) {
  .header__content {
    background-image: url("../img/header-mobile@2x.png");
  }
}

@media (min-width: $tabletwidth) {
  .header {
    position: relative;
    padding: 28px;
  }

  .header__layout {
    background-image: radial-gradient(ellipse at 30% 50%, rgba(255, 255, 255, 0.3) 0, transparent 25%, transparent 100%);
    background-repeat: no-repeat;
  }

  .header__footer {
    display: block;
    width: 19px;
    height: 31px;
    margin: 0 auto;
    color: $basewhite;
    border: 2px solid;
    border-radius: 10px;
    position: relative;

    &::before {
      content: "|";
      position: absolute;
      font-size: 6px;
      left: 6px;
      top: -2px;
    }

    &:hover,
    &:focus {
      background-color: $basewhite;
    }

    &:hover::before {
      color: $basedark;
    }
  }

  .header__content {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60%;
    background-image: url("../img/header-tablet@1x.png");
    background-size: 546px 462px;
    background-position-x: -100px;
  }
}

@media (min-width: $tabletwidth) and (min-resolution: $retinadpi), (min-width: $tabletwidth) and (min-resolution: $retinadppx) {
  .header__content {
    background-image: url("../img/header-tablet@2x.png");
  }
}

@media (min-width: $desktopwidth) {
  .header {
    padding: 50px;
  }

  .header__content {
    background-image: url("../img/header-desktop@1x.png");
    background-size: 647px 548px;
    padding-bottom: 120px;
    padding-top: 140px;
  }

  .header__navigation {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .header__menu {
    padding: 0;
    margin: 0;
    margin-left: auto;
    max-width: 550px;
  }

  .header__links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 3px;
    max-width: 400px;
  }

  .header__link {
    display: inline-block;
    vertical-align: bottom;
    min-height: 20px;
    line-height: 20px;
    padding: 7px 10px 6px;
    margin-left: 40px;

    &:hover,
    &:focus {
      color: $basered;
    }

    &:focus {
      background-color: darken($basecolor, $darkpercent);
      border-radius: 10px;
    }
  }

  .header__link--order {
    font-size: 11px;
    border: 2px solid $basewhite;
    border-radius: 30px;
    width: 165px;

    &:hover {
      background-color: $basewhite;
    }

    &:focus {
      background-color: darken($basewhite, $darkpercent);
      border-radius: 25px;
    }
  }
}

@media (min-width: $desktopwidth) and (min-resolution: $retinadpi), (min-width: $desktopwidth) and (min-resolution: $retinadppx) {
  .header__content {
    background-image: url("../img/header-desktop@2x.png");
  }
}
