.indicator {
  display: none;
}

@media (min-width: $desktopwidth) {
  .indicator {
    position: fixed;
    top: 10vh;
    right: 1vw;
    z-index: 10;
    display: flex;

    &--nojs {
      display: none;
    }
  }

  .indicator__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .indicator__link {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: lightgrey;
    text-decoration: none;
  }

  .indicator__link--normal::after {
    content: "\2022";
    font-size: 20px;
  }

  .indicator__link--line::after {
    content: "\2013";
  }

  .indicator__link--current::after {
    content: "\2742";
    font-size: 14px;
  }

  .indicator__link:hover,
  .indicator__link:focus {
    color: red;
  }
}


@media (min-width: 1400px) {
  .indicator {
    right: 5vw;
  }
}

@media (min-width: 1600px) {
  .indicator {
    right: 10vw;
  }
}
