.layout {
  width: $mobilewidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: $tabletwidth) {
  .layout {
    width: $tabletwidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: $desktopwidth) {
  .layout {
    width: $desktopwidth;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &--limited {
      max-width: 1300px;
    }
  }
}
