.map {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: 532px;
  padding: 65px 15px 15px;
  margin: 40px 0 0;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
}

.map__contacts {
  position: relative;
  z-index: 5;
  width: 290px;
  min-height: 260px;
  max-height: 400px;
  left: 50%;
  transform: translateX(-145px);
}


.map__image--api {
  width: 100%;
}

.map__image--hide {
  display: none;
}

.map__image--show {
  display: block;
}

.map__image--nojs {
  display: none;
}


@media (min-width: $tabletwidth) {
  .map {
    min-height: 470px;
  }

  .map__contacts {
    transform: translateX(-370px);
    max-height: 350px;
    width: 380px;
    min-height: 320px;
  }
}

@media (min-width: $desktopwidth) {
  .map {
    min-height: 645px;
    padding: 120px 0 20px;
    margin-top: 60px;
  }

  .map__contacts {
    width: 460px;
    min-height: 380px;
    transform: translateX(-574px);
    max-height: 400px;
  }
}
