.map {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
}

.map__contacts {
  position: relative;
  display: flex;
  z-index: 1;
}

@media (min-width: $desktopwidth) {
  .map {
    min-height: 645px;
    padding: 120px 0 140px;
  }
}
