.menu {
  padding: 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: block;
  color: $basewhite;
  background-color: $basecolor;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: lighten($basecolor, $darkpercent);
    color: $basered;
  }

  &:focus {
    color: $basered;
    background-color: darken($basecolor, $darkpercent);
  }
}

.menu--main .menu__link {
  &--current {
    color: $basered;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: auto;
      height: 2px;
      background-color: darken($basecolor, 40%);
      left: 0;
      right: 0;
      margin: 0 25px;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }
}

@media (min-width: $desktopwidth) {
  .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
  }

  .menu__item {
    width: auto;
    margin-left: 30px;
  }

  .menu__link {
    display: inline-block;
    border-bottom: none;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 10px;

    &:hover,
    &:focus {
      border-radius: 25px;
    }
  }
}
