.promo__slogan {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.01;
}

.promo__title {
  font-size: 21px;
}

.promo__button {
  margin: 0 auto;
}

.promo__info {
  font-size: 16px;
}

@media (min-width: $tabletwidth) {
  .promo__button {
    width: 247px;
    margin: 0;
  }

  .promo__slogan {
    font-size: 45px;
  }
}
