.promo__slogan {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.01;
}

.promo__title {
  font-size: 21px;
}

.promo__button {
  margin: 40px auto 30px;
}

.promo__info {
  font-size: 16px;
}

@media (min-width: $tabletwidth) {
  .promo__button {
    width: 247px;
    margin: 0;
  }

  .promo__slogan {
    font-size: 45px;
  }
}

@media (min-width: $desktopwidth) {
  .promo__title {
    margin: 60px 0 80px;
  }

  .promo__more {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .promo__info {
    margin: 0;
    width: 47%;
    padding: 0;
  }

  .promo__button {
    width: 47%;
  }
}
