.service {
  margin: 0;
  padding: 0;
}

.service__title {
  @include section-title();
}

.service__subtitle {
  @include section-subtitle();
}

.service__text {
  @include section-text();
}

.service__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__banner-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service__banner-item {
  font-size: 14px;
  line-height: 24px;
}

.service__banner-item::before {
  content: "\2022\00A0";
}
