@mixin fix-IE-bug($height) {
  &::before {
    content: "";
    display: inline-block;
    min-height: $height;
    visibility: hidden;
  }
}

@mixin v-zero() {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin section-common {
  padding: 0;
  margin: 0;
  color: $basedark;
}

@mixin section-title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: $basecolor;
}

@mixin section-subtitle {
  font-size: 24px;
  font-weight: 700;
}

@mixin section-text {
  font-size: 14px;
  line-height: 24px;
}

@mixin section-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

@mixin pictured-ears($imgbefore, $imgafter) {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;

    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    right: 100%;
  }

  &::before {
    right: 103%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 1) 150px), $imgbefore;
    background-position: 0 center;
  }

  &::after {
    left: 103%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 1) 150px), $imgafter;
    background-position: 0 center;
  }
}
